body{
    background-color: rgba(249, 241, 238);
    text-align: center;
}
header #imageholder{
    width: 200px;
}
header img {
    width: 100%;
    height: auto;
}
header {
    background-image: url("images/header-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0 0;
}

nav ul {
    list-style-type: none;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 50rem;
    margin: 0 auto;
}
nav ul li a{
    text-decoration: none;
    font-size: 2rem;
}

h1, header p {
    margin: 0;
    padding-bottom: 2rem;
}

button {
    width: 12rem;
    height: 2.5rem;
    background-color: #563f31;
    color: #faf9f7;
    border-radius: 20px;
    font-size: 1.2rem;
    margin: 2rem;
}

button:hover {
    background-color: aqua;
    cursor: pointer;
}